    <div class="container">
        <div class="form-group float-right">
            <div class="text-right">
                <button mat-icon-button matSuffix mat-dialog-close>
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <h3 class="text-center">{{'Animal-type' | translate}}</h3>
        <hr>
        <form [formGroup]="animalTypeForm" novalidate (ngSubmit)="onSubmit()">
            <mat-form-field appearance="standard">
                <mat-label>{{'Type-name' | translate}}</mat-label>
                <input matInput formControlName="typeName">
                <mat-error *ngIf="hasCustomError(animalTypeForm, 'typeName')">
                    {{'Type-name' | translate}} {{'is-required'| translate}}
                </mat-error>
            </mat-form-field>

            <div class="row px-2 mt-4">
                <div class="col-md-6">
                    <button mat-raised-button class="btn-block " type="submit" color="primary">
                        {{ getButtonState() }}
                    </button>
                </div>
                <div class="col-md-6">
                    <button mat-raised-button type="button" class="btn-block" (click)="resetForm()">
                        <mat-icon>cached</mat-icon>
                    </button>
                </div>
            </div>
        </form>
    </div>