<div class="row px-2">
    <div class="col-md-5">
        <h4 class="text-center">Aniaml info</h4>
        <hr>
        <div class="form-group" *ngIf="animal">
            <ul class="list-group">
                <li class="list-group-item">
                    <span>
                        <b>Animal type:</b> {{ animal.typeName }}
                    </span>
                </li>
                <li class="list-group-item">
                    <span>
                        <b>Name:</b> {{ animal.name }}
                    </span>
                </li>
                <li class="list-group-item">
                    <span>
                        <b>Gender:</b> {{ animal.gender}}
                    </span>
                </li>
                <li class="list-group-item">
                    <span>
                        <b>Date of birth:</b> {{ animal.dateOfBirth | date: 'yyy-MM-dd' }}
                    </span>
                </li>
            </ul>
            <div class="d-flex justify-content-center" *ngIf="animal == null">
                <mat-spinner></mat-spinner>
            </div>
        </div>
        <div class="row pr-3">
            <div class="col-md-4">
                <a mat-raised-button class="btn-block" color="secondary" (click)="backToAnimals()">
                    Back
                </a>
            </div>
            <div class="col-md-6">
                <button mat-raised-button class="btn-block" color="accent" (click)="updateAnimal()">
                    Update
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-md-6">
        <h4 class="text-center">Food</h4>
        <hr>
        <table class="table table-bordered text-center">
            <thead class="thead-light">
                <tr class="d-flex">
                    <th class="col-md-3" scope="col">
                        <u>Name</u>
                    </th>
                    <th class="col-md-5 pointer" scope="col">
                        Description
                    </th>
                    <th class="col-md-4" scope="col">
                        <button mat-raised-button class="btn btn-sm" color="primary" (click)="addOrUpdateRation(null)">
                            <mat-icon>add</mat-icon>
                            Create Food
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="d-flex" *ngFor="let ration of rations">
                    <td class="col-md-3">
                        {{ ration.foodName }}
                    </td>
                    <td class="col-md-5">
                        {{ ration.description }}
                    </td>
                    <td class="col-md-4">
                        <button class="btn btn-sm btn-warning mx-1" (click)="addOrUpdateRation(ration.rationId)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button class="btn btn-sm btn-danger mx-1" (click)="deleteRation(ration.rationId)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="rations.length === 0">
                    <td>
                        <p>There are no food for this animal...</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- <div *ngIf="rations.length === 0">
            <p>There are not food for this animal!</p>
        </div>
        <mat-action-list>
            <a mat-list-item [class.active]="ration.rationId === rationId" *ngFor="let ration of rations"
                (click)='selectRation(ration.rationId)'>
                {{ration.foodName}}
                <span class="float-right btn btn-light btn-sm" (click)="deleteRation(ration.rationId)">
                    <img src="/assets/images/icons8-xbox-x-24.png" alt="delete">
                </span>
            </a>
        </mat-action-list> -->
    </div>
</div>