<div class="container">
    <div class="form-group float-right">
        <div class="text-right">
            <button mat-icon-button matSuffix mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <h3 class="text-center">Animal</h3>
    <hr>
    <form [formGroup]="animalForm" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Animal type</label>
            <select class="form-control" formControlName="animalTypeId">
                <option value=null disabled>Select animal type</option>
                <option *ngFor="let type of animalTypes" [ngValue]="type.animalTypeId">{{ type.typeName }}</option>
            </select>
            <mat-error *ngIf="hasCustomError(animalForm, 'animalTypeId')">Animal type is required.</mat-error>
        </div>

        <div class="form-group">
            <label>Animal Name</label>
            <input type="text" class="form-control" placeholder="Animal Name" formControlName="name">
            <mat-error *ngIf="hasCustomError(animalForm, 'name')">Animal Name is required.</mat-error>
        </div>

        <div class="form-group">
            <label>Animal Gender</label>
            <select class="form-control" formControlName="gender">
                <option value=null disabled>Select Gender</option>
                <option *ngFor="let gender of genders" [ngValue]="gender.value">{{gender.title}}</option>
            </select>
            <mat-error *ngIf="hasCustomError(animalForm, 'gender')">Gender is required.</mat-error>
        </div>

        <div class="form-group ml-1">
            <mat-form-field color="primary">
                <mat-label>dateOfBirth</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName='dateOfBirth' readonly>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-error *ngIf="hasCustomError(animalForm, 'dateOfBirth')">Date of birth is required.</mat-error>
        </div>

        <div class="row px-2 mt-4">
            <div class="col-md-6">
                <button mat-raised-button class="btn-block " type="submit" color="primary">
                    {{ getButtonState() }}
                </button>
            </div>
            <div class="col-md-6">
                <button mat-raised-button type="button" class="btn-block" (click)="resetForm()">
                    <mat-icon>cached</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>