span {
    font-size: 15px;
}

.card-spacer {
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 10%;
    padding-right: 10%;
}

textarea {
    background-color: #fff !important;
    background: #fff !important;
}