<div class="container">
    <div class="form-group float-right">
        <div class="text-right">
            <button mat-icon-button matSuffix mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <h3 class="text-center">Picture</h3>
    <hr>
    <form novalidate (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Choose a picture</label>
            <br>
            <input class="form-control-file" #pictureFile multiple type="file" accept="image/*"
                (change)="onUpload($event)" />
            <br>
            <mat-error *ngIf="hasError">
                Picture is required
            </mat-error>
        </div>

        <div class="row px-2 mt-4">
            <div class="col-md-6">
                <button mat-raised-button class="btn-block" type="submit" color="primary">
                    Save
                </button>
            </div>
            <div class="col-md-6">
                <button mat-raised-button type="button" class="btn-block" (click)="resetForm()">
                    <mat-icon>cached</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>