<div class="row pl-2">
    <div class="col-md-7">
        <div class="text-center my-2">
            <h3>{{'Employee-management' | translate}}</h3>
        </div>
        <hr>
        <form [formGroup]="filterForm" novalidate>
            <div class="row">
                <div class="col-md-5">
                    <mat-form-field appearance="standard">
                        <mat-label>{{ 'Job-pos' | translate }}</mat-label>
                        <mat-select formControlName="job" (selectionChange)="filterJobs($event.value)">
                            <mat-option [value]="'*'">
                                {{'All' | translate}}
                            </mat-option>
                            <mat-option *ngFor="let item of jobs" [value]="item.value">
                                {{ item.title }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field appearance="standard">
                        <mat-label>{{'Employee' | translate}}</mat-label>
                        <mat-select formControlName="id" (selectionChange)="selectEmployee($event.value)">
                            <mat-option *ngFor="let item of employeeFiltered" [value]="item.id">
                                {{ item.lastName + ' ' + item.firstName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-button-toggle-group class="my-auto">
                        <mat-button-toggle (click)="resetForm()">
                            <mat-icon>cached</mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
        </form>
        <div class="px-2 mt-2">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6 my-auto">
                            <h5 class="font-weight-bold">
                                <i>{{'Employees' | translate}}</i>
                            </h5>
                        </div>
                        <div class="col-md-3 my-auto">
                            <h5 class="font-weight-bold">
                                <i>{{ 'Job-pos' | translate }}</i>
                            </h5>
                        </div>
                        <div class="col-md-3">
                            <button mat-raised-button class="btn btn-sm" color="primary" (click)="addOrUpdate(null)">
                                <mat-icon>add</mat-icon>
                                {{'Create' | translate}}
                            </button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" *ngFor="let employee of employeeFiltered">
                    <div class="row">
                        <div class="col-md-6 my-auto">
                            <button mat-button color="primary" (click)="selectEmployee(employee.id)">
                                <h6>
                                    <u>{{ employee.firstName + ' ' + employee.lastName }}</u>
                                </h6>
                            </button>
                        </div>
                        <div class="col-md-3 my-auto">
                            <h5>
                                {{ employee.position }}
                            </h5>
                        </div>
                        <div class="col-md-3">
                            <button mat-raised-button class="ml-3" color="warn" (click)="delete(employee)">
                                {{'Delete' | translate}}
                            </button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" *ngIf="employeeFiltered.length === 0">
                    <i>{{ 'Empty' | translate }}</i>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4" *ngIf="employeeSelected">
        <div class="text-center my-2">
            <h3>{{'Info' | translate }}</h3>
        </div>
        <hr>
        <div class="card">
            <div class="card-body my-auto">
                <img [src]="employeeSelected.picture" alt="" class="img-fluid rounded-circle w-50 mb-3 d-block mx-auto">
                <h4>
                    {{ employeeSelected.firstName + ' ' + employeeSelected.lastName }}
                </h4>
                <br>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-inline-flex">
                        <mat-icon>email</mat-icon>
                        {{ employeeSelected.email }}
                    </li>
                    <li class="list-group-item d-inline-flex">
                        <mat-icon> vpn_key</mat-icon>
                        {{ ('Role' | translate) +  ': ' + employeeSelected.role }}
                    </li>
                    <li class="list-group-item d-inline-flex">
                        <mat-icon>business_center</mat-icon>
                        {{ employeeSelected.position }}
                    </li>
                    <li class="list-group-item d-inline-flex">
                        <mat-icon>perm_contact_calendar</mat-icon>
                        {{ employeeSelected.dateOfBirth | date: 'yyyy-MM-dd' }}
                    </li>
                    <li class="list-group-item d-inline-flex">
                        <mat-icon>person</mat-icon>
                        {{ employeeSelected.gender }}
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-warning mx-1"
                        (click)="addOrUpdate(employeeSelected.id)">{{'Update' | translate}}</button>
                    <button class="btn btn-success mx-1"
                        (click)="goToJobs(employeeSelected.id)">{{'Manage-jobs' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>