<div class="container">
    <div class="form-group float-right">
        <div class="text-right">
            <button mat-icon-button matSuffix mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <h3 class="text-center">{{'Job' | translate }}</h3>
    <hr>
    <form [formGroup]="jobForm" novalidate (ngSubmit)="onSubmit()">
        <mat-form-field appearance="standard">
            <mat-label>{{'Employee' | translate}}</mat-label>
            <mat-select formControlName="employeeId">
                <mat-option *ngFor="let item of employees" [value]="item.id">
                    {{ item.firstName + ' ' + item.lastName }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="hasCustomError(jobForm, 'employeeId')">
                {{'Employee' | translate}} {{'is-required' | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>{{'Title' | translate}}</mat-label>
            <input matInput placeholder="title" formControlName="title">
            <mat-error *ngIf="hasCustomError(jobForm, 'title')">
                {{'Title' | translate}} {{'is-required' | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>{{'Description' | translate}}</mat-label>
            <textarea matInput placeholder="Some description" formControlName="description" rows="3"></textarea>
          </mat-form-field>

        <div class="row" *ngIf="showFullForm">
            <div class="col-md-6">
                     <mat-form-field appearance="standard">
                        <mat-label>{{'Status' | translate }}</mat-label>
                        <mat-select formControlName="status">
                            <mat-option *ngFor="let item of jobStatuses" [value]="item.value">
                                {{ item.title | translate }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasCustomError(jobForm, 'status')">
                            {{'Status'| translate}} {{'is-required' | translate}}
                        </mat-error>
                    </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field color="primary" appearance="standard">
                    <mat-label>{{'Creation-date' | translate}}</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="creationDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                    <mat-error *ngIf="hasCustomError(jobForm, 'creationDate')">
                        {{'Creation-date' | translate}} {{'is-required' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field color="primary" appearance="standard">
                    <mat-label>{{'Start-date' | translate}}</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field color="primary" appearance="standard">
                    <mat-label>{{'Finish-date' | translate}}</mat-label>
                    <input matInput [matDatepicker]="picker3" formControlName="finishDate">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3 disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class="row px-2 mt-4">
            <div class="col-md-6">
                <button mat-raised-button class="btn-block " type="submit" color="primary">
                    {{ getButtonState() }}
                </button>
            </div>
            <div class="col-md-6">
                <button mat-raised-button type="button" class="btn-block" (click)="resetForm()">
                    <mat-icon>cached</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>