body {
    background:#f9f9f9;
    font-size: 14px;
    margin: 0;
}

input {
    height: 100%;
}

th {
    font-size: 18px;
}

td {
    font-size: 18px;
}

li {
    font-size: 17px;
}

mat-form-field mat-label {
    font-size: 16px;
}

mat-form-field {
    font-size: 16px !important;
}

mat-form-field input {
    font-size: 17px !important;
}

mat-form-field textarea {
    font-size: 16px !important;
}

mat-form-field {
    width: 97% !important;
}

.btn-link {
    font-size: 18px;
}

.pointer {
    cursor: pointer;
}

.text-size-bg {
    font-size: 24px;
}

.text-size-md {
    font-size: 18px;
}

.text-size-sm {
    font-size: 12px;
}