<div class="card" *ngIf="job">
    <div class="card-header">
        <h4 class="text-center">
            {{ job.title }}
        </h4>
    </div>
    <div class="card-body my-auto">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span class="d-inline-flex">
                    <mat-icon>description</mat-icon>
                    <b>Description: </b>
                </span>
                <br>
                <span class="ml-1">
                    {{ job.description != null ? job.description : 'No description' }}
                </span>
            </li>
            <li class="list-group-item" *ngIf="employee">
                <span class="d-inline-flex">
                    <mat-icon>person</mat-icon>
                    <b>Responsible: </b>
                </span>
                <br>
                <span class="ml-1">
                    {{ employee.firstName + ' ' + employee.lastName }}
                </span>
            </li>
            <li class="list-group-item">
                <span class="d-inline-flex">
                    <mat-icon>info</mat-icon>
                    <b>Status: </b>
                </span>
                <br>
                <span class="ml-1">
                    {{ jobStatus[job.status] }}
                </span>
            </li>
            <li class="list-group-item">
                <span class="d-inline-flex">
                    <mat-icon>perm_contact_calendar</mat-icon>
                    <b>Creation date: </b>
                </span>
                <br>
                <span class="ml-1">
                    {{ job.creationDate | date: 'medium' }}
                </span>
            </li>
            <li class="list-group-item">
                <span class="d-inline-flex">
                    <mat-icon>perm_contact_calendar</mat-icon>
                    <b>Start date: </b>
                </span>
                <br>
                <span class="ml-1">
                    {{ job.startDate !== null ? (job.startDate | date: 'medium') : 'Not started' }}
                </span>
            </li>
            <li class="list-group-item">
                <span class="d-inline-flex">
                    <mat-icon>perm_contact_calendar</mat-icon>
                    <b>Finish date: </b>
                </span>
                <br>
                <span class="ml-1">
                    {{ job.finishDate !== null ? (job.finishDate | date: 'medium') : 'Not finished'  }}
                </span>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-center">
            <ng-container *ngIf="isManager">
                <button class="btn btn-warning mx-1" (click)="update()">Update</button>
                <button class="btn btn-danger mx-1" (click)="delete()">Delete</button>
            </ng-container>

            <ng-container *ngIf="canDoJob">
                <button mat-raised-button class="w-50" color="primary" 
                    *ngIf="job.status === 'Created'" (click)="startJob()">
                    <mat-icon>play_arrow</mat-icon>
                    Start
                </button>
                <button mat-raised-button class="w-50" color="primary" 
                    *ngIf="job.status === 'InProgress'" (click)="finishJob()">
                    <mat-icon>check_circle</mat-icon>
                    Finish
                </button>
                <button mat-raised-button disabled class="w-50" 
                    *ngIf="job.status === 'Finished'">
                    <mat-icon class="mr-1">check</mat-icon>
                    Finished
                </button>
            </ng-container>
        </div>
    </div>
</div>