<div class="text-center my-2">
    <h3>Animal management</h3>
</div>
<hr>

<form [formGroup]="filterForm" novalidate (ngSubmit)="filterAnimals()">
    <div class="row ml-1">
        <div class="col-md-3">
            <div class="form-group mt-2">
                <input type="text" class="form-control" placeholder="Name" formControlName="name">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <mat-form-field color="primary">
                    <mat-label>From date</mat-label>
                    <input class="mat-datepicker-input" matInput [matDatepicker]="picker1" formControlName='fromDate'
                        readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <mat-form-field color="primary">
                    <mat-label>By date</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName='byDate' readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-3">
            <mat-button-toggle-group>
                <button mat-raised-button color="primary" type="submit" class="px-5">
                    Search
                </button>
                <mat-button-toggle (click)="resetForm()">
                    <mat-icon>cached</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
</form>

<div class="table-responsive px-2 mt-2">
    <table class="table table-bordered text-center">
        <thead class="thead-light">
            <tr class="d-flex">
                <th class="col-md-4 pointer" scope="col" (click)="sortBy('name')"><u>Name</u></th>
                <th class="col-md-2" scope="col">Gender</th>
                <th class="col-md-2 pointer" scope="col" (click)="sortBy('date')"><u>Date of birth</u></th>
                <th class="col-md-4" scope="col" style="width: auto;">
                    <button mat-raised-button class="btn btn-sm" color="primary" (click)="addOrUpdate(null)">
                        <mat-icon>add</mat-icon>
                        Create Animal
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="d-flex" *ngFor="let animal of filteredAnimals">
                <td class="col-md-4">
                    {{ animal.name }}
                </td>
                <td class="col-md-2">
                    {{ animal.gender }}
                </td>
                <td class="col-md-2">
                    {{ animal.dateOfBirth }}
                </td>
                <td class="col-md-4">
                    <button class="btn btn-info mr-3" (click)="goToRation(animal.animalId)">
                        Ration
                    </button>
                    <button class="btn btn-sm btn-warning mx-1" (click)="addOrUpdate(animal.animalId)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button class="btn btn-sm btn-danger mx-1" (click)="deleteAnimal(animal.animalId)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
