<div class="container">
    <div class="form-group float-right">
        <div class="text-right">
            <button mat-icon-button matSuffix mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <h3 class="text-center">Device</h3>
    <hr>
    <form [formGroup]="deviceForm" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Device Name</label>
            <input type="text" class="form-control" placeholder="Animal Name" formControlName="name">
            <mat-error *ngIf="hasCustomError(deviceForm, 'name')">device name is required.</mat-error>
        </div>

        <div class="row px-2 mt-4">
            <div class="col-md-6">
                <button mat-raised-button class="btn-block " type="submit" color="primary">
                    {{ getButtonState() }}
                </button>
            </div>
            <div class="col-md-6">
                <button mat-raised-button type="button" class="btn-block" (click)="resetForm()">
                    <mat-icon>cached</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>