<div class="container">
    <div class="form-group float-right">
        <div class="text-right">
            <button mat-icon-button matSuffix mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <h3 class="text-center">{{'Password' | translate}}</h3>
    <hr>
    <form [formGroup]="passwordForm" novalidate (ngSubmit)="onSubmit()">
        <mat-form-field appearance="standard">
            <mat-label>{{'Current-password'| translate}}</mat-label>
            <input matInput [type]="hideCurrent ? 'password' : 'text'" formControlName="currentPassword">
            <button type="button" mat-icon-button matSuffix (click)="hideCurrent = !hideCurrent" 
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideCurrent">
                <mat-icon>{{ hideCurrent ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="hasCustomError(passwordForm, 'currentPassword')">
                {{'Current-password'| translate}} {{'is-required' | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>{{'New-password'| translate}}</mat-label>
            <input matInput [type]="hideNewPassword ? 'password' : 'text'" 
                formControlName="newPassword" (input)="checkPasswordsMatch($event.value)">
            <button type="button" mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
                <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="hasCustomError(passwordForm, 'newPassword')">
                {{'New-password' | translate}} {{'is-required'| translate}}.{{'min-6' | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>{{'Confirm-password' | translate}}</mat-label>
            <input matInput [type]="hideConfirm ? 'password' : 'text'" 
                formControlName="confirmPassword" (input)="checkPasswordsMatch($event.value)">
            <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="hasCustomError(passwordForm, 'confirmPassword')">
                {{ 'Pass-not-match' | translate }}
            </mat-error>
        </mat-form-field>

        <div class="row px-2 mt-4">
            <div class="col-md-6">
                <button mat-raised-button class="btn-block " type="submit" color="primary">
                    {{'Change-password' | translate}}
                </button>
            </div>
            <div class="col-md-6">
                <button mat-raised-button type="button" class="btn-block" (click)="resetForm()">
                    <mat-icon>cached</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>