<div class="container">
    <div class="form-group float-right">
        <div class="text-right">
            <button mat-icon-button matSuffix mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <h3 class="text-center">{{'Employee' | translate }}</h3>
    <hr>
    <form [formGroup]="employeeForm" novalidate (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="standard">
                    <mat-label>{{'First-name' | translate}}</mat-label>
                    <input matInput formControlName="firstName">
                    <mat-error *ngIf="hasCustomError(employeeForm, 'firstName')">
                        {{'First-name' | translate}} {{'is-required' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="standard">
                    <mat-label>{{'Last-name' | translate}}</mat-label>
                    <input matInput formControlName="lastName">
                    <mat-error *ngIf="hasCustomError(employeeForm, 'lastName')">
                        {{'Last-name' | translate}} {{'is-required' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <mat-form-field appearance="standard">
            <mat-label>{{'Email' | translate}}</mat-label>
            <input matInput formControlName="email" type="email">
            <mat-error *ngIf="hasCustomError(employeeForm, 'email')">
                {{'Email' | translate}} {{'is-required' | translate}}
            </mat-error>
        </mat-form-field>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field color="primary" appearance="standard">
                    <mat-label>{{'Date-of-birth' | translate}}</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="dateOfBirth" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                    <mat-error *ngIf="hasCustomError(employeeForm, 'dateOfBirth')">
                        {{'Date-of-birth' | translate}} {{'is-required' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="standard">
                    <mat-label>{{'Gender' | translate}}</mat-label>
                    <mat-select formControlName="gender">
                        <mat-option *ngFor="let item of genders" [value]="item.value">
                            {{ item.title | translate}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasCustomError(employeeForm, 'gender')">
                        {{'Gender' | translate}} {{'is-required' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="standard">
                    <mat-label>{{ 'Job-pos' | translate }}</mat-label>
                    <mat-select formControlName="position">
                        <mat-option *ngFor="let item of jobs" [value]="item.value">
                            {{ item.title | translate }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasCustomError(employeeForm, 'position')">
                        {{'Job-pos' | translate}} {{'is-required' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="standard">
                    <mat-label>{{'Role' | translate}}</mat-label>
                    <mat-select formControlName="role">
                        <mat-option *ngFor="let item of roles" [value]="item.value">
                            {{ item.title | translate }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasCustomError(employeeForm, 'role')">
                        {{'Role' | translate}} {{'is-required' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row" *ngIf="showPasswordForm">
            <div class="col-md-6">
                <mat-form-field appearance="standard">
                    <mat-label>{{'Password' | translate}}</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" 
                        formControlName="password" (input)="checkPasswordsMatch($event.value)">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error>
                        {{'Password' | translate}} {{'is-required' | translate}}. {{ 'min-6' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="standard">
                    <mat-label>{{'Confirm-password' | translate}}</mat-label>
                    <input matInput [type]="hideConfirm ? 'password' : 'text'" 
                        formControlName="confirmPassword" (input)="checkPasswordsMatch($event.value)">
                    <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                        <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error>
                        {{ 'Pass-not-match' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <p *ngIf="!havePermission" class="text-danger">
            {{ 'Not-allowed' | translate }}
        </p>
        <div class="row px-2 mt-4">
            <div class="col-md-6">
                <button mat-raised-button class="btn-block" type="submit" color="primary" [disabled]="!havePermission">
                    {{ getButtonState() }}
                </button>
            </div>
            <div class="col-md-6">
                <button mat-raised-button type="button" class="btn-block" (click)="resetForm()" [disabled]="!havePermission">
                    <mat-icon>cached</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>